# Exploratory Data Analysis for Accidents and Salary data in NYC

#### Importing libraries

In [83]:
# import pandas library
import pandas as pd
import numpy as np

#### Importing raw datasets

In [2]:
# importing accidents dataset
df_accident = pd.read_csv("C:/Users/abhin/Desktop/NCI 2022/DAP/Project DAP"\
                            "/final datasets/nypd-motor-vehicle-collisions/nypd-motor-vehicle-collisions.csv")

# importing salary dataset
df_salary = pd.read_csv("C:/Users/abhin/Desktop/NCI 2022/DAP/Project DAP"\
                            "/final datasets/salary-information-for-local-authorities/"\
                            "salary-information-for-local-authorities.csv")

C:\Users\abhin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\abhin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,4,8,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#### Initial descriptive analysis for Accidents dataframe

In [3]:
df_accident.shape

(1612178, 29)

In [4]:
df_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ACCIDENT DATE                  1612178 non-null  object
 1   ACCIDENT TIME                  1612178 non-null  object
 2   BOROUGH                        1127553 non-null  object
 3   ZIP CODE                       1127376 non-null  object
 4   LATITUDE                       1415893 non-null  float64
 5   LONGITUDE                      1415893 non-null  float64
 6   LOCATION                       1415893 non-null  object
 7   ON STREET NAME                 1298002 non-null  object
 8   CROSS STREET NAME              1079193 non-null  object
 9   OFF STREET NAME                219732 non-null   object
 10  NUMBER OF PERSONS INJURED      1612161 non-null  float64
 11  NUMBER OF PERSONS KILLED       1612145 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  1612178 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   1612178 non-null  int64
 14  NUMBER OF CYCLIST INJURED      1612178 non-null  int64
 15  NUMBER OF CYCLIST KILLED       1612178 non-null  int64
 16  NUMBER OF MOTORIST INJURED     1612178 non-null  int64
 17  NUMBER OF MOTORIST KILLED      1612178 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  1607854 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  1396127 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  104254 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  21789 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  5622 non-null     object
 23  COLLISION_ID                   1612178 non-null  int64
 24  VEHICLE TYPE CODE 1            1606597 non-null  object
 25  VEHICLE TYPE CODE 2            1346858 non-null  object
 26  VEHICLE TYPE CODE 3            128742 non-null   object
 27  VEHICLE TYPE CODE 4            46009 non-null    object
 28  VEHICLE TYPE CODE 5            10150 non-null    object
dtypes: float64(4), int64(7), object(18)
memory usage: 356.7+ MB

In [5]:
df_accident.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [6]:
# Describes numerical features
df_accident.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.415893e+06,1.415893e+06,1.612161e+06,1.612145e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06
mean,4.068864e+01,-7.386657e+01,2.631363e-01,1.185998e-03,5.060483e-02,6.302034e-04,2.098590e-02,9.242156e-05,1.916854e-01,4.633483e-04,2.765946e+06
std,1.200403e+00,2.438640e+00,6.584832e-01,3.644859e-02,2.316972e-01,2.577872e-02,1.445222e-01,9.677481e-03,6.206497e-01,2.334547e-02,1.506373e+06
min,0.000000e+00,-2.012371e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.300000e+01
25%,4.066882e+01,-7.397746e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.014464e+06
50%,4.072258e+01,-7.393002e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.422826e+06
75%,4.076789e+01,-7.386727e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.854210e+06
max,4.231832e+01,0.000000e+00,3.100000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,3.100000e+01,5.000000e+00,4.249104e+06

In [7]:
# Description of object/categorical and bool type features
df_accident.describe(include=["object","bool"])

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
count,1612178,1612178,1127553,1127376.0,1415893,1298002,1079193,219732,1607854,1396127,104254,21789,5622,1606597,1346858,128742,46009,10150
unique,2702,1440,5,438.0,182540,10471,16869,114290,61,61,50,36,22,623,606,123,66,44
top,2018-09-06T00:00:00.000,16:00,BROOKLYN,11207.0,"{'type': 'Point', 'coordinates': [0, 0]}",BROADWAY,3 AVENUE,772 EDGEWATER ROAD,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE
freq,1635,23453,349682,12379.0,1226,15915,10131,341,595805,1173564,96893,20538,5299,713352,535693,61113,22820,5236

In [8]:
# Dataframe preview
df_accident.head()

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

#### Viewing specific features of interest

In [34]:
df_accident["NUMBER OF PERSONS INJURED"].value_counts()

0.0     1301065
1.0      240961
2.0       45190
3.0       15054
4.0        5735
5.0        2350
6.0         936
7.0         430
8.0         172
9.0          97
10.0         60
11.0         31
12.0         25
13.0         15
15.0          8
14.0          7
17.0          6
16.0          6
24.0          5
19.0          2
22.0          2
27.0          1
18.0          1
20.0          1
31.0          1
Name: NUMBER OF PERSONS INJURED, dtype: int64

In [35]:
df_accident["BOROUGH"].value_counts()

BROOKLYN         349682
QUEENS           299308
MANHATTAN        272131
BRONX            156906
STATEN ISLAND     49526
Name: BOROUGH, dtype: int64

In [36]:
df_accident["ON STREET NAME"].value_counts()

BROADWAY                            15915
ATLANTIC AVENUE                     14207
3 AVENUE                            11555
NORTHERN BOULEVARD                  11341
BELT PARKWAY                        10673
                                    ...
Jackson ave                             1
amsterdam ave                           1
caldwell avenue                         1
RFK BRIDGE N/B BRONX TOLL PLAZA         1
65 Road                                 1
Name: ON STREET NAME, Length: 10471, dtype: int64

In [37]:
df_accident["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()

Unspecified                       595805
Driver Inattention/Distraction    299425
Failure to Yield Right-of-Way      91617
Following Too Closely              78467
Backing Unsafely                   61445
                                   ...
Windshield Inadequate                 73
Shoulders Defective/Improper          63
Texting                               32
Listening/Using Headphones            18
1                                     10
Name: CONTRIBUTING FACTOR VEHICLE 1, Length: 61, dtype: int64

#### Initial descriptive analysis for Salary dataframe

In [9]:
df_salary.shape

(445056, 20)

In [10]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445056 entries, 0 to 445055
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Authority Name                     445056 non-null  object
 1   Fiscal Year End Date               445056 non-null  object
 2   Has Employees                      162 non-null     object
 3   Last Name                          444885 non-null  object
 4   Middle Initial                     14884 non-null   object
 5   First Name                         444887 non-null  object
 6   Title                              444894 non-null  object
 7   Group                              444894 non-null  object
 8   Department                         17732 non-null   object
 9   Pay Type                           444894 non-null  object
 10  Exempt Indicator                   444894 non-null  object
 11  Base Annualized Salary             444894 non-null  float64
 12  Actual Salary Paid                 444894 non-null  float64
 13  Overtime Paid                      444894 non-null  float64
 14  Performance Bonus                  444894 non-null  float64
 15  Extra Pay                          444894 non-null  float64
 16  Other Compensation                 444894 non-null  float64
 17  Total Compensation                 444894 non-null  float64
 18  Paid By Another Entity             444894 non-null  object
 19  Paid by State or Local Government  3216 non-null    object
dtypes: float64(7), object(13)
memory usage: 67.9+ MB

In [11]:
# Features
df_salary.columns

Index(['Authority Name', 'Fiscal Year End Date', 'Has Employees', 'Last Name',
       'Middle Initial', 'First Name', 'Title', 'Group', 'Department',
       'Pay Type', 'Exempt Indicator', 'Base Annualized Salary',
       'Actual Salary Paid', 'Overtime Paid', 'Performance Bonus', 'Extra Pay',
       'Other Compensation', 'Total Compensation', 'Paid By Another Entity',
       'Paid by State or Local Government'],
      dtype='object')

In [12]:
# Presents numerical features Descriptive statistics
df_salary.describe()

,Base Annualized Salary,Actual Salary Paid,Overtime Paid,Performance Bonus,Extra Pay,Other Compensation,Total Compensation
count,444894.000000,444894.000000,444894.000000,444894.000000,444894.000000,444894.000000,444894.000000
mean,61561.557334,53781.980273,3409.953060,2.709286,344.767502,1662.123797,59201.533917
std,34048.288674,35051.342008,7971.791913,111.307934,4226.614203,5790.033311,38262.295578
min,0.000000,0.000000,0.000000,0.000000,0.000000,-164412.040000,0.000000
25%,38888.000000,34655.660000,0.000000,0.000000,0.000000,15.600000,37257.322500
50%,54170.060000,44240.860000,273.990000,0.000000,0.000000,473.820000,50764.305000
75%,77283.000000,72536.230000,2568.967500,0.000000,0.000000,2656.817500,78864.945000
max,617655.210000,671575.020000,280145.000000,21845.000000,450975.100000,525536.000000,676551.020000

In [13]:
# Presents object/categorical and bool type features descriptive statistics
df_salary.describe(include=["object", "bool"])

,Authority Name,Fiscal Year End Date,Has Employees,Last Name,Middle Initial,First Name,Title,Group,Department,Pay Type,Exempt Indicator,Paid By Another Entity,Paid by State or Local Government
count,445056,445056,162,444885,14884,444887,444894,444894,17732,444894,444894,444894,3216
unique,110,63,1,58207,44,22317,4264,6,418,2,2,2,2
top,New York City Health and Hospitals Corporation,2016-06-30T00:00:00.000,No,WILLIAMS,J,MARIA,STAFF NURSE,Professional,Airport,FT,N,N,Y
freq,405217,49823,162,2612,2415,4135,67930,132906,977,410114,394929,441678,3165

In [38]:
df_salary.head()

,Authority Name,Fiscal Year End Date,Has Employees,Last Name,Middle Initial,First Name,Title,Group,Department,Pay Type,Exempt Indicator,Base Annualized Salary,Actual Salary Paid,Overtime Paid,Performance Bonus,Extra Pay,Other Compensation,Total Compensation,Paid By Another Entity,Paid by State or Local Government
0,Albany County Airport Authority,2019-12-31T00:00:00.000,NaN,Addington,L,Ellen,Senior Account Technician,Administrative and Clerical,Finance,FT,Y,57331.92,57331.92,0.0,0.0,0.0,0.0,57331.92,N,NaN
1,Albany County Airport Authority,2019-12-31T00:00:00.000,NaN,Calderone,NaN,Philip,Chief Executive Officer,Executive,Administration,FT,Y,185000.00,15416.66,0.0,0.0,0.0,0.0,15416.66,N,NaN
2,Albany County Airport Authority,2019-12-31T00:00:00.000,NaN,Cerrone,A,Rima,Budget & Performace Manager,Managerial,Finance,FT,Y,86828.74,86828.74,0.0,0.0,0.0,0.0,86828.74,N,NaN
3,Albany County Airport Authority,2019-12-31T00:00:00.000,NaN,Chadderdon,M,Helen,Marketing Director,Managerial,Public Relations,FT,Y,84504.96,84504.96,0.0,0.0,0.0,0.0,84504.96,N,NaN
4,Albany County Airport Authority,2019-12-31T00:00:00.000,NaN,Chakmakas,NaN,Nicholas,Clerk,Administrative and Clerical,Administration,PT,Y,3568.88,3568.88,0.0,0.0,0.0,0.0,3568.88,N,NaN

#### Viewing specific features of interest

In [39]:
df_salary["Title"].value_counts()

STAFF NURSE                       67930
CLERICAL ASSOCIATE -L III         18832
PATIENT CARE ASSOCIATE            17532
SERVICE AIDE                      17088
PAT CARE TECH                     10126
                                  ...
500161 - Purchasing Specialist        1
AVP Security and Networking           1
CONFIDENTIAL HR SPECIALIST- B         1
PROGRAMMER ANLYST                     1
Junior Mechanical Engineer            1
Name: Title, Length: 4264, dtype: int64

In [40]:
df_salary["Group"].value_counts()

Professional                   132906
Operational                    115146
Technical and Engineering       91135
Administrative and Clerical     65857
Managerial                      37986
Executive                        1864
Name: Group, dtype: int64

In [41]:
df_salary["Pay Type"].value_counts()

FT    410114
PT     34780
Name: Pay Type, dtype: int64

In [42]:
df_salary["Total Compensation"].median()

50764.305

In [43]:
df_salary["Total Compensation"].max()

676551.02

#### Data ingestion into PostgreSql DB for later use

In [14]:
# Using sqlalchemy for ingesting data into PostgreDB for storage
from sqlalchemy import create_engine
import psycopg2

In [15]:
# Access variable for Database 
engine = create_engine('postgresql://postgres:superman@22@localhost:5433/DAP_Accidents_and_salary_database')

In [106]:
# Pushing Accidents data into PostgreDB
df_accident.to_sql('Accident_raw_data',engine)

# Pushing Salary data into PostgreDB
df_salary.to_sql('Salary_raw_data',engine)

#### Reading Tables from PostgreSql

In [107]:
# import pandas as pd
df_acc= pd.read_sql('Accident_raw_data', engine)

In [108]:
df_sal= pd.read_sql('Salary_raw_data', engine)

#### Data preprocessing - Cleaning  Accident data

In [109]:
# Missing values
df_acc.isna().sum()

index                                  0
ACCIDENT DATE                          0
ACCIDENT TIME                          0
BOROUGH                           484625
ZIP CODE                          484802
LATITUDE                          196285
LONGITUDE                         196285
LOCATION                          196285
ON STREET NAME                    314176
CROSS STREET NAME                 532985
OFF STREET NAME                  1392446
NUMBER OF PERSONS INJURED             17
NUMBER OF PERSONS KILLED              33
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4324
CONTRIBUTING FACTOR VEHICLE 2     216051
CONTRIBUTING FACTOR VEHICLE 3    1507924
CONTRIBUTING FACTOR VEHICLE 4    1590389
CONTRIBUTING FACTOR VEHICLE 5    1606556
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 5581
VEHICLE TYPE CODE 2               265320
VEHICLE TYPE CODE 3              1483436
VEHICLE TYPE CODE 4              1566169
VEHICLE TYPE CODE 5              1602028
dtype: int64

In [110]:
# We observed that for around 1.6 million records some of the features such as Off Street Name, Contributing factor 3 -5
# and Vehicle type 3-5 have highly sparse data and will be irrelevent in our analysis, so better to drop such features.
df_acc.drop(['OFF STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',\
                  'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']\
                 , inplace=True, axis=1)
df_acc.isna().sum()

index                                 0
ACCIDENT DATE                         0
ACCIDENT TIME                         0
BOROUGH                          484625
ZIP CODE                         484802
LATITUDE                         196285
LONGITUDE                        196285
LOCATION                         196285
ON STREET NAME                   314176
CROSS STREET NAME                532985
NUMBER OF PERSONS INJURED            17
NUMBER OF PERSONS KILLED             33
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4324
CONTRIBUTING FACTOR VEHICLE 2    216051
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5581
VEHICLE TYPE CODE 2              265320
dtype: int64

In [111]:
# The remaining missing values will be replaced by 0 and 'NA' for features from above
# For numerical features by 0
df_acc['LATITUDE'] = df_acc['LATITUDE'].fillna(0)
df_acc['LONGITUDE'] = df_acc['LONGITUDE'].fillna(0)
df_acc['NUMBER OF PERSONS INJURED'] = df_acc['NUMBER OF PERSONS INJURED'].fillna(0)
df_acc['NUMBER OF PERSONS KILLED'] = df_acc['NUMBER OF PERSONS KILLED'].fillna(0)
df_acc['COLLISION_ID'] = df_acc['COLLISION_ID'].fillna(0)

# For Categorical features by 'NA'
df_acc['BOROUGH'] = df_acc['BOROUGH'].fillna('NA')
df_acc['ZIP CODE'] = df_acc['ZIP CODE'].fillna('NA')
df_acc['LOCATION'] = df_acc['LOCATION'].fillna('NA')
df_acc['ON STREET NAME'] = df_acc['ON STREET NAME'].fillna('NA')
df_acc['CROSS STREET NAME'] = df_acc['CROSS STREET NAME'].fillna('NA')
df_acc['CONTRIBUTING FACTOR VEHICLE 1'] = df_acc['CONTRIBUTING FACTOR VEHICLE 1'].fillna('NA')
df_acc['CONTRIBUTING FACTOR VEHICLE 2'] = df_acc['CONTRIBUTING FACTOR VEHICLE 2'].fillna('NA')
df_acc['VEHICLE TYPE CODE 1'] = df_acc['VEHICLE TYPE CODE 1'].fillna('NA')
df_acc['VEHICLE TYPE CODE 2'] = df_acc['VEHICLE TYPE CODE 2'].fillna('NA')

In [112]:
# Final missing values count
df_acc.isna().sum()

index                            0
ACCIDENT DATE                    0
ACCIDENT TIME                    0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
ON STREET NAME                   0
CROSS STREET NAME                0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
dtype: int64

In [113]:
# Importing datetime to handle datetime objects
from datetime import datetime,timedelta

In [114]:
# Converting Datetime objects 
df_acc['ACCIDENT DATE'] = pd.to_datetime(df_acc['ACCIDENT DATE'], format='%Y-%m-%d %H:%M:%S')
df_acc['ACCIDENT TIME'] = pd.to_datetime(df_acc['ACCIDENT TIME'], format='%H:%M')

In [115]:
# Merging features with Date and Time as a single datetime feature for preprocessing
df_acc['ACCIDENT DATETIME'] = df_acc.apply(lambda row: row['ACCIDENT DATE']+ timedelta(hours= row['ACCIDENT TIME'].hour\
                                                                 , minutes= row['ACCIDENT TIME'].minute), axis=1)

In [116]:
# Creating true copy dataframe
final_acc_df = df_acc.iloc[:,8:24].copy()

In [117]:
final_acc_df['BOROUGH'] = df_acc['BOROUGH']

In [118]:
# Final preprocessed dataset for EDA
# We will be using this dataset for Visualization to reveal insights as it contains the data relevant to our study
final_acc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 17 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ON STREET NAME                 1612178 non-null  object
 1   CROSS STREET NAME              1612178 non-null  object
 2   NUMBER OF PERSONS INJURED      1612178 non-null  float64
 3   NUMBER OF PERSONS KILLED       1612178 non-null  float64
 4   NUMBER OF PEDESTRIANS INJURED  1612178 non-null  int64
 5   NUMBER OF PEDESTRIANS KILLED   1612178 non-null  int64
 6   NUMBER OF CYCLIST INJURED      1612178 non-null  int64
 7   NUMBER OF CYCLIST KILLED       1612178 non-null  int64
 8   NUMBER OF MOTORIST INJURED     1612178 non-null  int64
 9   NUMBER OF MOTORIST KILLED      1612178 non-null  int64
 10  CONTRIBUTING FACTOR VEHICLE 1  1612178 non-null  object
 11  CONTRIBUTING FACTOR VEHICLE 2  1612178 non-null  object
 12  COLLISION_ID                   1612178 non-null  int64
 13  VEHICLE TYPE CODE 1            1612178 non-null  object
 14  VEHICLE TYPE CODE 2            1612178 non-null  object
 15  ACCIDENT DATETIME              1612178 non-null  datetime64[ns]
 16  BOROUGH                        1612178 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(7), object(7)
memory usage: 209.1+ MB

We can now analyze the dataset for relations between the location and accidents, No. of people injured/ killed due to collisions and the corresponding root causes with respect to time of the day or year categorized by boroughs. We aim to reveal these patterns and provide relevant inferences.

#### Data preprocessing - Cleaning  Salary data

In [119]:
# Missing values in Salary dataset
df_sal.isna().sum()

index                                     0
Authority Name                            0
Fiscal Year End Date                      0
Has Employees                        444894
Last Name                               171
Middle Initial                       430172
First Name                              169
Title                                   162
Group                                   162
Department                           427324
Pay Type                                162
Exempt Indicator                        162
Base Annualized Salary                  162
Actual Salary Paid                      162
Overtime Paid                           162
Performance Bonus                       162
Extra Pay                               162
Other Compensation                      162
Total Compensation                      162
Paid By Another Entity                  162
Paid by State or Local Government    441840
dtype: int64

We observed that of around 445000 records, features such as Has Employees, Middle Initial, Department and Paid by State or 
Local Government have almost all missing values which is why we will be dropping them.

In [120]:
final_sal_df = df_sal.drop(['Last Name', 'First Name','Title','index','Has Employees', 'Middle Initial','Department',\
                            'Paid By Another Entity'], axis=1)

In [121]:
final_sal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445056 entries, 0 to 445055
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Authority Name                     445056 non-null  object
 1   Fiscal Year End Date               445056 non-null  object
 2   Group                              444894 non-null  object
 3   Pay Type                           444894 non-null  object
 4   Exempt Indicator                   444894 non-null  object
 5   Base Annualized Salary             444894 non-null  float64
 6   Actual Salary Paid                 444894 non-null  float64
 7   Overtime Paid                      444894 non-null  float64
 8   Performance Bonus                  444894 non-null  float64
 9   Extra Pay                          444894 non-null  float64
 10  Other Compensation                 444894 non-null  float64
 11  Total Compensation                 444894 non-null  float64
 12  Paid by State or Local Government  3216 non-null    object
dtypes: float64(7), object(6)
memory usage: 44.1+ MB

In [122]:
final_sal_df.isna().sum()

Authority Name                            0
Fiscal Year End Date                      0
Group                                   162
Pay Type                                162
Exempt Indicator                        162
Base Annualized Salary                  162
Actual Salary Paid                      162
Overtime Paid                           162
Performance Bonus                       162
Extra Pay                               162
Other Compensation                      162
Total Compensation                      162
Paid by State or Local Government    441840
dtype: int64

In [123]:
# The remaining missing values will be replaced by 0 and 'NA' for features from above
# For numerical features by 0
final_sal_df['Base Annualized Salary'] = final_sal_df['Base Annualized Salary'].fillna(0)
final_sal_df['Actual Salary Paid'] = final_sal_df['Actual Salary Paid'].fillna(0)
final_sal_df['Overtime Paid'] = final_sal_df['Overtime Paid'].fillna(0)
final_sal_df['Performance Bonus'] = final_sal_df['Performance Bonus'].fillna(0)
final_sal_df['Extra Pay'] = final_sal_df['Extra Pay'].fillna(0)
final_sal_df['Other Compensation'] = final_sal_df['Other Compensation'].fillna(0)
final_sal_df['Total Compensation'] = final_sal_df['Total Compensation'].fillna(0)

# For Categorical features by 'NA'
final_sal_df['Group'] = final_sal_df['Group'].fillna('NA')
final_sal_df['Pay Type'] = final_sal_df['Pay Type'].fillna('NA')
final_sal_df['Exempt Indicator'] = final_sal_df['Exempt Indicator'].fillna('NA')
final_sal_df['Paid by State or Local Government'] = final_sal_df['Paid by State or Local Government'].fillna('NA')

final_sal_df.isna().sum()

Authority Name                       0
Fiscal Year End Date                 0
Group                                0
Pay Type                             0
Exempt Indicator                     0
Base Annualized Salary               0
Actual Salary Paid                   0
Overtime Paid                        0
Performance Bonus                    0
Extra Pay                            0
Other Compensation                   0
Total Compensation                   0
Paid by State or Local Government    0
dtype: int64

In [124]:
final_sal_df['Fiscal Year End Date'] = pd.to_datetime(final_sal_df['Fiscal Year End Date'])

In [125]:
final_sal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445056 entries, 0 to 445055
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Authority Name                     445056 non-null  object
 1   Fiscal Year End Date               445056 non-null  datetime64[ns]
 2   Group                              445056 non-null  object
 3   Pay Type                           445056 non-null  object
 4   Exempt Indicator                   445056 non-null  object
 5   Base Annualized Salary             445056 non-null  float64
 6   Actual Salary Paid                 445056 non-null  float64
 7   Overtime Paid                      445056 non-null  float64
 8   Performance Bonus                  445056 non-null  float64
 9   Extra Pay                          445056 non-null  float64
 10  Other Compensation                 445056 non-null  float64
 11  Total Compensation                 445056 non-null  float64
 12  Paid by State or Local Government  445056 non-null  object
dtypes: datetime64[ns](1), float64(7), object(5)
memory usage: 44.1+ MB

Dataset can be analyzed for well paid or not, ft vs pt, total comp vs class midle lower above, group profession distr etc.

In [126]:
final_sal_df['Pay Type'].value_counts()

FT    410114
PT     34780
NA       162
Name: Pay Type, dtype: int64

In [127]:
final_sal_df['Group'].value_counts()

Professional                   132906
Operational                    115146
Technical and Engineering       91135
Administrative and Clerical     65857
Managerial                      37986
Executive                        1864
NA                                162
Name: Group, dtype: int64

In [128]:
final_sal_df['Authority Name'].value_counts()

New York City Health and Hospitals Corporation    405217
New York City School Construction Authority         8698
Suffolk County Water Authority                      5475
Erie County Water Authority                         2550
Monroe County Water Authority                       2313
                                                   ...
Greater Rochester Sports Authority                     4
Tonawanda (City) Community Development Agency          3
Village of Spring Valley Urban Renewal Agency          2
Niagara Falls Public Water Authority                   2
Ossining Urban Renewal Agency                          1
Name: Authority Name, Length: 110, dtype: int64

#### Data Visualization for Accidents Data : final_acc_df

In [129]:
# Importing Visualization libraries
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.io as pio
pio.renderers.default='notebook'

final_acc_df has 9 numerical variables, 7 categorical variables and 1 Datetime variable. Exploring each variable visually may reveal insights regarding each feature's distributions and nature.

In [130]:
final_acc_df.columns

Index(['ON STREET NAME', 'CROSS STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'ACCIDENT DATETIME', 'BOROUGH'],
      dtype='object')

In [131]:
# Top Street for maximum no of accidents
final_acc_df['ON STREET NAME'].value_counts().idxmax()

'NA'

In [132]:
# Top 5 Streets for max accidents
final_acc_df['ON STREET NAME'].value_counts()[:5]

NA                                  314176
BROADWAY                             15915
ATLANTIC AVENUE                      14207
3 AVENUE                             11555
NORTHERN BOULEVARD                   11341
Name: ON STREET NAME, dtype: int64

In [133]:
# Street in which minimum no of accidents occurred 
final_acc_df['ON STREET NAME'].value_counts().idxmin()

'tremont avenue                  '

In [134]:
# Bottom 5 Streets for no. of accidents.
final_acc_df['ON STREET NAME'].value_counts()[-5:]

Jackson ave                         1
amsterdam ave                       1
caldwell avenue                     1
RFK BRIDGE N/B BRONX TOLL PLAZA     1
65 Road                             1
Name: ON STREET NAME, dtype: int64

In [135]:
ped_mot = final_acc_df.groupby(['BOROUGH'])['BOROUGH','NUMBER OF PEDESTRIANS INJURED','NUMBER OF MOTORIST INJURED'].sum()
print(ped_mot)

<ipython-input-135-b8e09293c65a>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               NUMBER OF PEDESTRIANS INJURED  NUMBER OF MOTORIST INJURED
BOROUGH
BRONX                                  10694                       31491
BROOKLYN                               22667                       68512
MANHATTAN                              16219                       22887
NA                                     14709                      117969
QUEENS                                 15419                       58011
STATEN ISLAND                           1876                       10161

In [170]:
ped_mot.index

Index(['BRONX', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND'], dtype='object', name='BOROUGH')

In [169]:
# Drops NA record
ped_mot.drop('NA',inplace=True)

In [171]:
# Stacked barplot to compare No of Injured pedestrians vs motorists in accidents
fig1 = px.bar(ped_mot, x=ped_mot.index, y=["NUMBER OF PEDESTRIANS INJURED", "NUMBER OF MOTORIST INJURED"], \
             title="Stacked Barplot")
fig1.show()

In [172]:
ped_mot_killed = final_acc_df.groupby(['BOROUGH'])['BOROUGH','NUMBER OF PEDESTRIANS KILLED','NUMBER OF MOTORIST KILLED'].sum()
print(ped_mot_killed)

<ipython-input-172-315129d61aa1>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               NUMBER OF PEDESTRIANS KILLED  NUMBER OF MOTORIST KILLED
BOROUGH
BRONX                                    96                         67
BROOKLYN                                222                        128
MANHATTAN                               172                         31
NA                                      286                        353
QUEENS                                  206                        135
STATEN ISLAND                            34                         33

In [173]:
ped_mot_killed.drop('NA', inplace=True)

In [174]:
# Stacked Barplot to compare No of KILLED pedestrians vs motorists in accidents
fig1 = px.bar(ped_mot_killed, x=ped_mot_killed.index, y=["NUMBER OF PEDESTRIANS KILLED", "NUMBER OF MOTORIST KILLED"], \
             title="Stacked Barplot")
fig1.show()

In [176]:
# Countplot for instances
df_dum = final_acc_df['ON STREET NAME'].value_counts()[:5]
df_dum.drop('NA', inplace=True)
fig = px.bar(df_dum,title='Count of instances of each Borough',labels={'index': 'Borough', 'value': 'Count'})
fig.update_layout(showlegend =False)
fig.show()

In [140]:
persons = final_acc_df.groupby(['BOROUGH'])['BOROUGH','NUMBER OF PERSONS INJURED','NUMBER OF PERSONS KILLED'].sum()
persons

<ipython-input-140-ba2674bc5a3c>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
BOROUGH
BRONX                            44746.0                     175.0
BROOKLYN                        102040.0                     400.0
MANHATTAN                        47232.0                     232.0
NA                              139130.0                     666.0
QUEENS                           78719.0                     369.0
STATEN ISLAND                    12351.0                      70.0

In [177]:
persons.drop('NA', inplace=True)

In [178]:
# Share of each Borough's people injured
fig = px.pie(persons, values='NUMBER OF PERSONS INJURED', names=persons.index, title='Persons Injured in a road accident',\
            color_discrete_sequence=px.colors.sequential.RdBu)
fig.show()

In [179]:
# Share of each Borough's people killed in accidents
fig = px.pie(persons, values='NUMBER OF PERSONS KILLED', names=persons.index, title='Persons Killed in a road accident')
fig.show()

In [180]:
final_acc_df['VEHICLE TYPE CODE 1'].value_counts()[:10]

PASSENGER VEHICLE                      713352
SPORT UTILITY / STATION WAGON          320175
Sedan                                  154646
Station Wagon/Sport Utility Vehicle    125271
TAXI                                    52275
VAN                                     26773
OTHER                                   24180
PICK-UP TRUCK                           23543
UNKNOWN                                 20421
Taxi                                    16006
Name: VEHICLE TYPE CODE 1, dtype: int64

In [181]:
# Barplot for counts of vehicle types involved in accidents
fig = px.bar(final_acc_df['VEHICLE TYPE CODE 1'].value_counts()[:8], labels= {'value':'count', 'index': 'Vehicle Type'},\
            title = 'Vehicle types involved in Accidents',color_discrete_sequence=px.colors.sequential.Rainbow)
fig.update_layout(showlegend=False)
fig.show()

In [145]:
final_acc_df.head()

,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,ACCIDENT DATETIME,BOROUGH
0,NA,NA,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4184637,Sedan,Pick-up Truck,2019-08-05 16:30:00,QUEENS
1,NA,NA,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,2019-08-27 16:02:00,BROOKLYN
2,CHRYSTIE STREET,GRAND STREET,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,NA,4202457,Sedan,NA,2019-08-15 17:57:00,MANHATTAN
3,NA,NA,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,4198749,Taxi,Station Wagon/Sport Utility Vehicle,2019-08-30 21:53:00,BRONX
4,EAST 35 STREET,2 AVENUE,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4183798,Station Wagon/Sport Utility Vehicle,Bike,2019-08-06 09:45:00,MANHATTAN

In [182]:
temp = final_acc_df[['ACCIDENT DATETIME', 'BOROUGH', 'NUMBER OF PERSONS KILLED']]

In [183]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 3 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ACCIDENT DATETIME         1612178 non-null  datetime64[ns]
 1   BOROUGH                   1612178 non-null  object
 2   NUMBER OF PERSONS KILLED  1612178 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 36.9+ MB

In [148]:
temp['Month'] = temp['ACCIDENT DATETIME'].dt.month

<ipython-input-148-ae711fa81a18>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [149]:
temp

          ACCIDENT DATETIME    BOROUGH  NUMBER OF PERSONS KILLED  Month
0       2019-08-05 16:30:00     QUEENS                       0.0      8
1       2019-08-27 16:02:00   BROOKLYN                       0.0      8
2       2019-08-15 17:57:00  MANHATTAN                       0.0      8
3       2019-08-30 21:53:00      BRONX                       0.0      8
4       2019-08-06 09:45:00  MANHATTAN                       0.0      8
...                     ...        ...                       ...    ...
1612173 2012-07-21 22:46:00   BROOKLYN                       0.0      7
1612174 2012-07-09 16:45:00         NA                       0.0      7
1612175 2012-07-09 14:35:00         NA                       0.0      7
1612176 2012-07-18 09:20:00  MANHATTAN                       0.0      7
1612177 2012-07-12 03:10:00     QUEENS                       0.0      7

[1612178 rows x 4 columns]

In [150]:
monthly_pers_killed = temp.groupby(['Month'])['BOROUGH','NUMBER OF PERSONS KILLED'].sum()

<ipython-input-150-b1add5881b92>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [151]:
monthly_pers_killed

       NUMBER OF PERSONS KILLED
Month
1                         129.0
2                         105.0
3                         139.0
4                         160.0
5                         144.0
6                         147.0
7                         219.0
8                         244.0
9                         141.0
10                        159.0
11                        181.0
12                        144.0

In [152]:
monthly_pers_killed.reset_index(inplace=True)
monthly_pers_killed

    Month  NUMBER OF PERSONS KILLED
0       1                     129.0
1       2                     105.0
2       3                     139.0
3       4                     160.0
4       5                     144.0
5       6                     147.0
6       7                     219.0
7       8                     244.0
8       9                     141.0
9      10                     159.0
10     11                     181.0
11     12                     144.0

In [153]:
# Library to convert numbers to month abbreviations
import calendar
monthly_pers_killed['Month'] = monthly_pers_killed['Month'].apply(lambda x: calendar.month_abbr[x])
monthly_pers_killed

   Month  NUMBER OF PERSONS KILLED
0    Jan                     129.0
1    Feb                     105.0
2    Mar                     139.0
3    Apr                     160.0
4    May                     144.0
5    Jun                     147.0
6    Jul                     219.0
7    Aug                     244.0
8    Sep                     141.0
9    Oct                     159.0
10   Nov                     181.0
11   Dec                     144.0

In [154]:
# Linechart for people killed in accidents each month
fig= px.line(y= monthly_pers_killed['NUMBER OF PERSONS KILLED'], x= monthly_pers_killed['Month'],\
            title='People killed in each month of the year',color_discrete_sequence=px.colors.sequential.RdBu)
fig.show()

#### Data Visualization for Salary Data : final_sal_df

In [155]:
final_sal_df.tail()

,Authority Name,Fiscal Year End Date,Group,Pay Type,Exempt Indicator,Base Annualized Salary,Actual Salary Paid,Overtime Paid,Performance Bonus,Extra Pay,Other Compensation,Total Compensation,Paid by State or Local Government
445051,Utica Urban Renewal Agency,2011-03-31,Professional,FT,Y,27900.0,19771.0,0.0,0.0,0.0,0.0,19771.0,NA
445052,Utica Urban Renewal Agency,2011-03-31,Executive,FT,Y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y
445053,Freeport Community Development Agency,2011-02-28,Administrative and Clerical,FT,Y,34000.0,18000.0,0.0,0.0,0.0,0.0,18000.0,NA
445054,Freeport Community Development Agency,2011-02-28,Executive,FT,Y,104500.0,65000.0,0.0,0.0,0.0,0.0,65000.0,NA
445055,Freeport Community Development Agency,2011-02-28,Administrative and Clerical,FT,Y,63000.0,40000.0,0.0,0.0,0.0,7200.0,47200.0,NA

1.From this dataset we can analyse whether an employee is well paid or not, relationship between fulltime and parttime salaries 2.Threshold assumed 45k to 140k middle - total comp vs class midle, lower, above
3.Explore Group profession distr

In [156]:
temp = final_sal_df['Authority Name'].value_counts()[:10]
temp

New York City Health and Hospitals Corporation    405217
New York City School Construction Authority         8698
Suffolk County Water Authority                      5475
Erie County Water Authority                         2550
Monroe County Water Authority                       2313
Buffalo Sewer Authority                             1967
New York City Housing Development Corporation       1593
Onondaga County Water Authority                     1376
Albany Water Board                                  1309
Niagara Falls Water Board                           1042
Name: Authority Name, dtype: int64

In [157]:
# Authority data in the dataset
fig= px.pie(temp,values=temp.values, names=temp.index)
fig.show()

In [196]:
temp = final_sal_df.groupby('Pay Type')['Total Compensation'].median()
temp

Pay Type
FT    53382.305
NA        0.000
PT    26537.245
Name: Total Compensation, dtype: float64

In [201]:
temp.drop('NA', inplace=True)

In [202]:
temp

Pay Type
FT    53382.305
PT    26537.245
Name: Total Compensation, dtype: float64

In [203]:
# Barplot depicting Pay difference for Full-time and Part-time employee
fig= px.bar(temp)
fig.update_layout(showlegend =False)
fig.show()

In [204]:
final_sal_df.Group.value_counts()

Professional                   132906
Operational                    115146
Technical and Engineering       91135
Administrative and Clerical     65857
Managerial                      37986
Executive                        1864
NA                                162
Name: Group, dtype: int64

In [206]:
temp = final_sal_df.groupby('Group')['Total Compensation'].median()
temp.drop('NA', inplace=True)

In [207]:
# Plot for compensation in each Profession type
fig= px.bar(temp, labels={'value': 'Median Compensation'})
fig.update_layout(showlegend=False)
fig.update_xaxes(tickangle = 45)
fig.show()

#### Final Storage of Cleaned Dataframes into PostgreSQL

In [163]:
# Using sqlalchemy for ingesting data into PostgreDB for storage
# from sqlalchemy import create_engine
# import psycopg2

In [164]:
# Access variable for Database 
engine = create_engine('postgresql://postgres:superman@22@localhost:5433/DAP_Accidents_and_salary_database')

In [165]:
# Pushing Accidents data into PostgreDB
final_acc_df.to_sql('Final_Accident_Data',engine)

# Pushing Salary data into PostgreDB
final_sal_df.to_sql('Final_Salary_Data',engine)